PORT=3000

# local | digitalocean
STORAGE_DRIVER=local

# Solo para STORAGE_DRIVER=digitalocean
DO_SPACES_REGION=nyc3
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_BUCKET=tu-space
DO_SPACES_KEY=tu-access-key
DO_SPACES_SECRET=tu-secret-key

# Puede ser el CDN default del Space o un dominio propio con CDN activo.
# Ejemplo default:
# https://tu-space.nyc3.cdn.digitaloceanspaces.com
DO_SPACES_CDN_URL=https://cdn.tudominio.com

# Flujo OnCity -> descarga local en droplet y upload a VTEX
ONCITY_DOWNLOAD_DIR=storage/oncity-images
ONCITY_UPLOAD_BASE_URL=https://marketplace.api.solediluminacion.com
